<table id="datatable" class="table table-striped table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for title in titles %}
        <tr data-userTitleId="{{ title.id }}">
            <!-- Name -->
            <td>{{ title.name }}</td>
            <!-- Actions -->
            <td class="actionButtons">
                <a href="#" role="button" onclick="openEditUserTitleModal(event, {{ title.id }})"><i class="fa fa-wrench"></i></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>