<div id="editPromoCodeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                {% if promoCodeId == 'new' %}
                    <h4 class="modal-title">Add Promo Code</h4>
                {% else %}
                    <h4 class="modal-title">Edit Promo Code</h4>
                {% endif %}
            </div>
            <div class="modal-body">
                <h4>Promo Code Info</h4>

                {{ form_start(form, {'action': path('admin_editPromoCodeModal', {'promoCodeId': promoCodeId})}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>